@use 'fonts';

$primary-color: #151928;
$secondary-color: #007FC8;
$heading-color: #FFFFFF;
$body-text-color: #c9c9c9;
$heading-font-family: 'Gothic UI',arial, sans-serif;
$body-font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
$background-color_1: #3b3b3b;
$background-color_2: #E3E3E3;
$background-color_3: #989898;
$background-color_4: rgb(29, 28, 28);
$background-color_5: #aaaaaa;