@use 'fonts';

$primary-color: #151928;
$secondary-color: #007FC8;
$heading-color: #FFFFFF;
$body-text-color: #c9c9c9;
$heading-font-family: 'cantarellregular', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

