@use '../abstracts' as a;
@forward 'main.css';
#footer {
	height: 262px;
	background-color: $background-color_3;
}
#footer-logo {
	height: 80px;
	background-color: $background-color_4;
	margin-left: 13px;
	padding-right: 38px;
}
#footer-nav {
	height: 100px;
	margin-left: 12px;
	padding-right: 35px;
}
#contact {
	height: 1px;
	padding-left: 48px;
}
#footer-menu {
	height: 1px;
	margin-left: 8px;
	margin-right: 8px;
}
#inc {
	height: 19px;
	margin-left: 8px;
	margin-right: 60px;
}
#button-box {
	background-color: $background-color_4;
}
#img-box {
	background-color: $background-color_5;}

    @media screen and (min-width: 768px) {
    
    /*6.Footer*/
    #footer {
        height: 167px;
        background-color: #989898;
    }
    
    #footer-logo {
        height: 1px;
        background-color: rgb(29, 28, 28);
        margin-left: 56px;
        padding-left:20px ;
        padding-right: 38px;
        margin-top: 30px;
    }
    
    
    #contact {
        padding-top: 6px;
        margin-top: 12px;
        margin-right: 30px;
        padding-right:80px;
        height: 1px;
        margin-left: 150px;
        padding-left: 48px;
        margin-top: 29px;
    }
    
    #footer-menu {
        height: 19px;
        margin-top: 80px;
        grid-row: 1/2;
        padding-bottom: 22px;
        padding-top: 6px;
        margin-left: -110px;
        margin-right: 7px;
    }
    
    #inc {
        height: 19px;
        grid-row: 1/2;
        margin-top: 110px;
        padding-top: 6px;
    }
    }
    
   






   
