@use '../abstracts' as a;
@forward 'main.css';

header {
	position: sticky;
	background-color: $primary-color;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  
	.header-logo {
	  img {
		width: 60px;
	  }
	}
  
	.main-header {
	  position: sticky;
	  top: 0;
	  display: flex;
	  justify-content: space-between;
	  padding: 0;
	  z-index: 1000;
	}
  
	.header-nav {
	  ul {
		display: none;
		list-style: none;
		gap: 20px;
  
		&.active {
		  display: flex;
		}
  
		li {
		  margin: 10px 0;
		  text-align: center;
		}
	  }
	}
  
	@media screen and (min-width: 768px) {
	  .header-social {
		display: none;
	  }
  
	  header {
		padding: 20px;
	  }
  
	  .header-logo {
		img {
		  width: 70px;
		}
	  }
  
	  .header-nav ul {
		display: none;
		list-style: none;
		gap: 20px;
	  }
	}
  
	@media (min-width: 1024px) {
	  .main-header {
		position: sticky;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		z-index: 1000;
	  }
  
	  .nav-list {
		list-style: none;
		display: flex;
		justify-content: center;
		margin: 0;
  
		li {
		  margin: 0 15px;
		}
  
		a {
		  text-decoration: none;
		  color: $secondary-color;
		  font-weight: bold;
		  font-size: 1.2rem;
		  transition: color 0.3s ease-in-out;
  
		  &:hover {
			color: $secondary-color;
		  }
		}
	  }
  
	  .hero {
		padding: 150px 20px;
	  }
  
	  .header-nav a {
		text-align: center;
		padding: 20px;
		position: sticky;
		display: flex;
		text-decoration: none;
		color: $secondary-color;
		font-weight: bold;
		font-size: 16px;
		transition: color 0.3s ease-in-out;
  
		&:hover {
		  transform: scale(1.10);
		  transition: 0.3s ease-in-out;
		  color: $secondary-color;
		}
	  }
  
	  .header-nav ul {
		margin-right: 190px;
		text-align: center;
		display: flex;
	  }
  
	  .header-social {
		gap: 15px;
		display: flex;
		color: $secondary-color;
		font-size: 24px;
		margin: 0 10px;
	  }
	}
  
	.header-social {
	  display: flex;
	  gap: 15px;
	  color: $secondary-color;
	  font-size: 24px;
	  margin: 0 10px;
	}
  }
  